@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@keyframes intro-picture-shadow {
  0% {
    filter: drop-shadow(0px 0px 10px cyan);
  }
  50% {
    filter: drop-shadow(0px 0px 20px cyan);
  }
  100% {
    filter: drop-shadow(0px 0px 10px cyan);
  }
}

@keyframes width-left2right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateUp {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes translateFullUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes translateFullUpRecoil {
  0% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes translateFullDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes translateLeft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: var(--maxWidth);
    height: var(--maxHeight);
  }
  100% {
    width: var(--width);
    height: var(--height);
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--blue_bg);
  color: white;
}

:root {
  --blue_bg: rgb(11, 11, 33);
  --blue_button: rgb(11, 11, 66);
  --cyan_20a: rgba(0, 255, 255, 0.2);
}

.bg-particles {
  position: fixed;
  z-index: -1 !important;
  width: 100%;
}
.bg-particles canvas {
  background-image: url(./assets/bg.jpg);
}

.navbar-wrapper.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  z-index: 10;
}
.navbar-wrapper.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  z-index: 10;
}
.navbar-wrapper.bottom .navbar {
  height: 15vh !important;
  background-color: cadetblue !important;
  animation: translateFullUp ease-out 1s;
}
.navbar-wrapper.top .navbar {
  height: 10vh !important;
  background-color: cadetblue !important;
  animation: translateFullDown ease-out 1s;
}
.navbar button {
  max-width: none !important;
}
.navbar button svg {
  height: 1.5em;
  width: 1.5em;
  color: var(--blue_bg);
}
.navbar-wrapper.top .navbar button svg {
  height: 1.25em;
  width: 1.1em;
}
.navbar button.Mui-selected svg {
  color: white;
}
.navbar button.Mui-selected .MuiBottomNavigationAction-label {
  color: white;
  font-size: 1rem;
}
.navbar-wrapper.top
  .navbar
  button.Mui-selected
  .MuiBottomNavigationAction-label {
  font-size: 0.9rem;
}

.home-intro {
  position: absolute;
  display: flex;
  width: 100%;
  height: 66vh;
  top: 50%;
  margin-top: -36vh;
  justify-content: space-evenly;
  align-items: flex-end;
}
.home-intro .intro-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(11, 11, 33, 0.2) 0%,
    rgba(11, 11, 139, 0.2) 50%,
    rgba(0, 255, 255, 0.2) 100%
  );
  animation: width-left2right 1s ease-out forwards;
}
.home-intro .intro-text {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards 1s, translateUp 1s forwards 1s;
}
.home-intro .intro-picture {
  flex-basis: 40%;
  height: 110%;
  background: url(./assets/me_transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards 1s, translateLeft 1s forwards 1s,
    intro-picture-shadow 3s infinite;
}
.home-intro .typewriter {
  font-size: 2rem;
}
.home-intro .typewriter-cursor {
  font-size: 2.3rem;
  color: cyan;
}
.home-intro .social-icon {
  color: white;
  width: 3em;
  height: 3em;
}
.home-intro .social-icon svg {
  width: 0;
  height: 0;
  --width: 1.5em;
  --height: 1.5em;
  --maxWidth: 1.75em;
  --maxHeight: 1.75em;
  animation: popup 1s ease-in-out forwards 2s;
  transition: 0.5s;
}
.home-intro .social-icon:hover svg {
  color: cyan;
}
.home-intro .social-icon:nth-child(2) svg {
  animation-delay: 2.5s;
}
.home-intro .social-icon:nth-child(3) svg {
  animation-delay: 3s;
}

.drawer-menu-item {
  position: relative;
  opacity: 0;
  animation: fadeIn 0.25s forwards 0.25s;
}
.drawer-menu-list .drawer-menu-item:nth-child(2) {
  animation: fadeIn 0.25s forwards 0.5s;
}
.drawer-menu-list .drawer-menu-item:nth-child(3) {
  animation: fadeIn 0.25s forwards 0.75s;
}
.drawer-menu-list .drawer-menu-item:nth-child(4) {
  animation: fadeIn 0.25s forwards 1s;
}
.drawer-menu-list .drawer-menu-item:nth-child(5) {
  animation: fadeIn 0.25s forwards 1.25s;
}
.drawer-menu-list .drawer-menu-item:nth-child(6) {
  animation: fadeIn 0.25s forwards 1.5s;
}
.drawer-menu-item::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  background: linear-gradient(
    90deg,
    rgba(11, 11, 33, 0.2) 0%,
    rgba(11, 11, 139, 0.2) 50%,
    rgba(0, 255, 255, 0.2) 100%
  );
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  height: 50%;
}
.drawer-menu-item::after {
  transform: scaleX(0);
  transform-origin: bottom left;
  content: " ";
  display: block;
  position: absolute;
  inset: 50% 0 0 0;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 0.2) 0%,
    rgba(11, 11, 139, 0.2) 50%,
    rgba(11, 11, 33, 0.2) 100%
  );
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  height: 50%;
}
.drawer-menu-item:hover::before {
  transform: scaleX(1);
}
.drawer-menu-item:hover::after {
  transform: scaleX(1);
}
.drawer-menu-button {
  position: fixed;
  top: 1vw;
  left: 1vw;
  color: white !important;
  z-index: 1201;
}
.drawer-menu-button svg {
  width: 2em;
  height: 2em;
  transition: 0.2s !important;
  color: white;
}
.drawer-menu-list {
  width: 100%;
  color: cadetblue;
}
.drawer-menu-text {
  position: relative;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards 0.25s,
    translateFullUp 0.25s ease-out 0.25s;
  color: white;
}
.drawer-menu-text span {
  font-size: 2rem;
  transition: 0.2s;
}
.drawer-menu-item:hover .drawer-menu-text span {
  font-size: 3rem;
}
.drawer-menu-item:nth-child(2) .drawer-menu-text {
  animation: fadeIn 0.5s ease-out 0.5s forwards,
    translateFullUp 0.25s ease-out 0.5s;
}
.drawer-menu-item:nth-child(3) .drawer-menu-text {
  animation: fadeIn 0.5s ease-out 0.75s forwards,
    translateFullUp 0.25s ease-out 0.75s;
}
.drawer-menu-item:nth-child(4) .drawer-menu-text {
  animation: fadeIn 0.5s ease-out 1s forwards, translateFullUp 0.25s ease-out 1s;
}
.drawer-menu-item:nth-child(5) .drawer-menu-text {
  animation: fadeIn 0.5s ease-out 1.25s forwards,
    translateFullUp 0.25s ease-out 1.25s;
}
.drawer-menu-item:nth-child(6) .drawer-menu-text {
  animation: fadeIn 0.5s ease-out 1.5s forwards,
    translateFullUp 0.25s ease-out 1.5s;
}

.home-intro .intro-finish {
  position: absolute;
  bottom: -24%;
  opacity: 0;
  animation: fadeIn 0.5s ease-out 2s forwards,
    translateFullUpRecoil 0.5s ease-out 2s;
}
.home-intro .discover-label {
  opacity: 0;
  animation: fadeIn 0.25s ease-out 3s forwards, translateUp 0.25s ease-out 3s;
  margin-bottom: 7px;
  font-weight: bold;
}
.home-intro .discover-button {
  width: 300px;
  background-color: var(--blue_button);
  transition: 0.5s;
  padding-top: 16px;
  padding-bottom: 16px;
}
.home-intro .discover-button:hover {
  border-radius: 40px;
  color: var(--blue_button);
  font-weight: bold;
}
.home-intro .discover-button:active {
  scale: 0.9;
}
