@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Berkshire+Swash&display=swap");

body {
  margin: 0;
  background: rgb(12, 17, 28);
  color: white;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(70, 70, 70, 0.5) !important;
}

[data-rmiz-btn-unzoom] {
  display: none !important;
}

.react-player__play-icon {
  border-width: 32px 0px 32px 52px !important;
  border-color: transparent transparent transparent #a66e1b !important;
}
