@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@keyframes intro-picture-shadow {
  0% {
    filter: drop-shadow(0px 0px 10px cyan);
  }
  50% {
    filter: drop-shadow(0px 0px 20px cyan);
  }
  100% {
    filter: drop-shadow(0px 0px 10px cyan);
  }
}

@keyframes width-left2right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateUp {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes translateLeft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateY(0%);
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--blue_bg);
  color: white;
}

:root {
  --blue_bg: rgb(11, 11, 33);
  --blue_50a: rgba(0, 0, 139, 0.5);
}

.bg-particles {
  position: fixed;
  z-index: -1;
  width: 100%;
}
.bg-particles canvas {
  background-image: url(./assets/bg.jpg);
}

.home-intro {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70vh;
  top: 50%;
  margin-top: -35vh;
  justify-content: space-evenly;
  align-items: flex-end;
}
.home-intro .intro-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(11, 11, 33, 0.2) 0%,
    rgba(11, 11, 139, 0.2) 50%,
    rgba(0, 255, 255, 0.2) 100%
  );
  animation: width-left2right 1s ease-out forwards;
}
.home-intro .intro-text {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards 1s, translateUp 1s forwards 1s;
}
.home-intro .intro-picture {
  flex-basis: 40%;
  height: 110%;
  background: url(./assets/me_transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards 1s, translateLeft 1s forwards 1s,
    intro-picture-shadow 3s infinite;
}
.home-intro .typewriter {
  font-size: 2rem;
}
.home-intro .typewriter-cursor {
  font-size: 2.3rem;
  color: cyan;
}
